@import '../../Scss/_variables';

.header {
	background-color: $primary-color;
	padding: 5px 0;

	&__logo {
		position: relative;
		width: 134px;
		height: 34px;
	}

	&__link {
		background: url('/img/logo.png') 0 0 no-repeat;
		background-size: contain;
		overflow: hidden;
		text-indent: -999px;
		position: absolute;
		outline: 0;
		top: 0;
		left: 0;

		@media screen and (max-width: 767px) {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__form { position: relative }

	&__input {
		background-color: #fff;
		border: none;
		padding: .5em;
		width: 100%;
	}

	&__btn {
			background-color: #fff;
			border: none;
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translateY(-50%);

		svg {
			fill: $secondary-color;
			width: 20px;
			height: 20px;
		}
	}
}
